.App {
  font-family: sans-serif;
  text-align: center;


}

.card {
  border: 1px solid lightgray;
  margin: 50px;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
 
  justify-content: space-between;
  background-color: #fff;
  /* padding: 15px; */
  
}
.shop_name{
  height: 250px;
  background-color: black;
  color: White;
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
}
.subname{
  background-color: black;
  color: White;
  font-size: 25px;
  justify-content: center;
  
}
li{
  display: list-item;
}
.cart_i{
  width: 25px;
  
}
.cart{
  width: 100px;
}


.pcard_img{
 width:100%;
}
.products{
  display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin: 20px;
}
.num{
  background-color: black;
  
  color: white;
  width: 1px;
}
footer{
  height: 100px;
  background-color: black;
  color: White;
  /* font-size: 10px; */
  text-align: center;
  padding-top: 50px;
}
.badge {
top:0.5rem;
 right:0.5rem
}
.price{
  display: flex;
  /* padding-left: 35px; */
  justify-content: center;
  gap:4px;
  font-size: 15px;
}
.iprice{
text-decoration: line-through;
}
button{
  font-size: medium;
  width: 150px;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  border-radius: 4px;
  border: 0.5px solid black;
}